{% extends 'charts/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <title>Average Speed</title>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        anychart.onDocumentReady(function() {
            var chart = anychart.line();
            chart.container('chart');
            chart.autoRedraw();
            var series = chart.line();

            app.getseries = function(address) {
                var urlParams = new URLSearchParams(window.location.search);
                urlParams.set('address', address);
                app.getjson('{{ path('api.average-speed.hour') }}?' + urlParams, function(xhr) {
                    series.data(xhr.response.data.series);
                    document.title = 'Average Speed - ' + xhr.response.data.address.display;
                    series.name(document.title);
                    chart.title(document.title);
                });
            };

            chart.draw();
        });
    </script>
{% endblock %}
