{% extends 'base.html.twig' %}

{% block head %}
    <title>Speedometrics</title>
    <script src="/assets/anychart-bundle.min.js"></script>
    <script src="/assets/vue.js"></script>
    <link href="/assets/anychart-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/anychart-font.css" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            visibility: hidden;
        }

        html, body, #app {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        html, input, select {
            font-family: Verdana,sans-serif;
            font-size: 15px;
            line-height: 1.5;
        }

        #menu {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: 50px;
            z-index: 1;
        }

        #chart {
            height: calc(100% - 50px);
        }

        #menu ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;
            background-color: #333;
        }
        #menu li {
            float: left;
            border-right: 1px solid #bbb;
        }
        #menu li:last-child {
            border-right: none;
        }
        #menu li.active {
            background-color: #4CAF50;
        }
        #menu li.addresses {
            float: right;
        }
        #menu li.addresses select {
            display: block;
            padding: 14px 16px;
            border: 1px solid #fbfbfb;
            background: #fbfbfb;
        }
        #menu li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        #menu li a:hover {
            background-color: #111;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="app">
        <div id="menu">
            <ul v-cloak>
                <li v-for="item in menu" v-bind:class="{ 'active': item.link == '{{ path(app.request.attributes.get('_route')) }}' }">
                    <a :href="item.link">${ item.title }</a>
                </li>
                <li class="addresses">
                    <select name="address" v-model="addressId">
                        <option v-for="address in addresses" :value="address.id">${ address.serialized }</option>
                    </select>
                </li>
            </ul>
        </div>
        <div id="chart"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var ajax = ajax || {};
        ajax.getJson = function(url, success, error) {
            var xhr = new XMLHttpRequest();
            xhr.open('get', url, true);
            xhr.responseType = 'json';
            xhr.onload = function() {
                if (typeof success === 'function' && xhr.status === 200) {
                    return success(xhr);
                }
                if (typeof error === 'function') {
                    return error(xhr);
                }
            };
            xhr.send();
        };
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                menu: [],
                addresses: [],
                addressId: null,
                renderer: null,
            },
            watch: {
                addressId: function(value) {
                    if (this.renderer) {
                        this.renderer(value);
                    }
                },
                renderer: function(value) {
                    if (this.addressId) {
                        value(this.addressId);
                    }
                }
            },
            created: function() {
                var self = this;
                ajax.getJson('{{ path('api.menu') }}', function(xhr) {
                    self.menu = xhr.response.data.items;
                });
                ajax.getJson('{{ path('api.addresses') }}', function(xhr) {
                    self.addresses = xhr.response.data.addresses;
                    self.addressId = self.addresses[0].id;
                });
            }
        });
    </script>
{% endblock %}
