{% extends 'charts/base.html.twig' %}

{% block head %}
    {{ parent() }}
    <title>Speed Categories</title>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        anychart.onDocumentReady(function() {
            var chart = anychart.pie();
            chart.container('chart');
            chart.autoRedraw();

            app.getseries = function(address) {
                var urlParams = new URLSearchParams(window.location.search);
                urlParams.set('address', address);
                app.getjson('{{ path('api.speed-categories') }}?' + urlParams, function(xhr) {
                    document.title = 'Speed Categories - ' + xhr.response.data.address.display;
                    chart.title(document.title);
                    chart.data(xhr.response.data.series);
                });
            };

            chart.draw();
        });
    </script>
{% endblock %}
